@import 'locals';

.btn-modal {
    @extend %button;
    @extend %btn-primary;
    margin: .7em;
    margin-right: 0;
    
    &--cancel {
        @extend %btn-standard;
    }
}


.footer-modal {
    display: flex; 
    justify-content: flex-end;
}