.btn-modal {
    background-color: #2a9ce7; 
    color: #fff; 
    font-weight: bold; 
    border: none; 
    padding: .5em .9em; 
    border-radius: 0.1em; 
    margin: 0.5em;
    
}

.btn-modal--cancel {
    background-color: #fff; 
    color: #555; 
    border: 1px solid #aaa;
}

.footer-modal {
    display: flex; 
    justify-content: flex-end;
}